.cont-login{
    background-color: #343a40c4;
}
.cont-login-titulo{
    padding: 30px;
}
.cont-registro-titulo{
    padding-bottom: 100px;
}
.cont-register{
    background-color: #343a40c4;
    margin-top: 5000px;
}