/* lo dejo acá porque así si alguien quiere practicar css+bst que lo haga acá directamente */
:root {
  --background-color: #1a485c;
  --bs-indigo: ;
}

.navblog {
  background-color: var(--background-color);
}
html body {
  background-color: var(--background-color);
}
.logo-infoblog {
  background-color: var(--background-color);
  width: 260px;
}
