{%extends 'base/index.html'%} 
{%comment%}

Extiende index en vez de base para que la barra de búsqueda no aparezca en todos lados
Se puede cambiar y mover la barra de búsqueda a navbar.html, pero eso cambiaría la lógica de la vista
{%endcomment%}

{%block posts%}

{%if posts%}

    <h1>Resultados de búsqueda para "{{query}}"</h1>
    
        {%for post in posts%}         
            <article>
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">                            
                            <div class="post-preview">
                                <a href="{{post.obtener_url_absoluta}}">
                                    <h2 class="post-title">
                                        {{post.titulo}}                           
                                    </h2>
                                    <a href="{{post.obtener_url_absoluta}}"><img src="{{post.img.url}}" alt="imagen del post" /></a>
                                    <h3 class="post-subtitle">
                                        Publicado el: {{post.fecha_creacion}}
                                        <p>{{post.descripcion}}</p>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        {%endfor%} 
{% else %}
    <h3>No se han encontrado resultados para "{{query}}".</h3>
{%endif%}
   
{%endblock%}