{%extends 'base/base.html'%}
{%load static%}


{%block titulo%} <title>{{post.titulo}} | InfoBlog</title> {%endblock%}

<body>
    {%block contenido%}
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <p><h1>{{post.titulo}}</h1></p>
            <small>Publicado el {{post.fecha_creacion}}</small>            
            <p>{{post.cuerpo|safe}}</p>
        </div>
        <!-- COMENTARIOS necesario logueo para ver y participar -->  
        {% if user.is_authenticated %}
        <div class="col-md-8">
            {%with comentarios.count as total_comments%}
                {% if total_comments != 0 %}
                    <h2>
                    {{total_comments}} comentario{{ total_comments|pluralize }}                    
                    </h2>
                {%else%}
                    <h2>
                        No hay comentarios. ¡Publica el primero!
                    </h2>
                {% endif %}
            {%endwith%}
  
            {%for comentario in comentarios%}
  
              Comentario {{ forloop.counter }} por {{ comentario.autor }}
              {{comentario.fecha}}
              {{comentario.cuerpo|linebreaks}}
  
            {%empty%}
            {%endfor%}     
            <form id="FormaComentario" method="post">
                {{forma_comentario.as_p}}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Publicar</button>
            </form>
        {% else %}
            <div class= "container text-center m-3">
                <div class="align-items-center">
                    <h5> Para ver los comentarios y participar es necesario loguearse </h5>
                    <a class="btn btn-primary" aria-current="page" href="{% url 'login' %}">Iniciar Sesión</a>
                    <a class="btn btn-primary" aria-current="page" href="{% url 'registro' %}">Registrarse</a> 
                </div>
            </div>
        {% endif %}
        <!-- FIN COMENTARIOS -->
        </div>
    </div>
    {%endblock%}
</body>