{% load static %}
<nav class="navbar navbar-expand-lg navbar-light tremendo" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/">Info Blog</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <p>Menu</p>
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="nav-item">
          <a class="nav-link px-lg-3 py-3 py-lg-4" href="/"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html"
            >Sobre nosotros</a
          >
        </li>
        <!-- Inicio y registro de usuarios -->
        {% if user.is_authenticated %}
        <li class="nav-item mt-auto">
          <div class="badge bg-primary text-wrap">{{user.username}}</div>
          <a
            class="nav-link"
            aria-current="page"
            href="{% url 'logout' %}"
            >Cerrar Sesión</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="{% url 'login' %}"
            >Iniciar Sesión</a
          >
        </li>
        {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'registro' %}"
            >Registrarse</a
          >
        </li>
        <!-- Fin inicio y registro de usuarios -->
        <li class="nav-item dropdown">
          <a class="nav-link px-lg-3 py-3 py-lg-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Objetivos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            {%for categoria in categorias%}
            <li><a class="dropdown-item" href="/categoria/{{categoria.nombre}}/">{{categoria}}</a></li>
            {%endfor%}
            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>