{% extends "base/base.html" %} 
{%block contenido%} 

    <form class="form-inline my-2 my-lg-0"> {%comment%}{% csrf_token %} No creo que sea necesario usar un token en la busqueda.{%endcomment%}
        <input class="form-control mr-sm-2" type="search" placeholder="Ingrese su búsqueda" aria-label="Search" name="busqueda" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    {%block posts%}
    
    {%for post in posts%}         
        <article>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <!-- Post preview-->
                        <div class="post-preview">
                            <a href="{{post.obtener_url_absoluta}}">
                                <h2 class="post-title">
                                    {{post.titulo}}                           
                                </h2></a>
                                <a href="{{post.obtener_url_absoluta}}"><img src="{{post.img.url}}" alt="imagen del post" /></a>
                                <h3 class="post-subtitle">
                                    Publicado el día<time datetime="2012-10-15T12:00">{{post.fecha_creacion}}</time>
                                    <p>{{post.descripcion}}</p>
                                </h3>                            
                        </div>
                    </div>
                </div>
            </div>
        </article>

    {%endfor%} 
    {%endblock%}
{%endblock%}

<!--
    Este archivo simplemente itera sobre todos los posts que hay en la base de datos y muestra los títulos de cada uno
    Es solo para probar que funcione
-->